{% extends "base.html" %}

{% block content %}
<header>
    <h2>Tags</h2>
</header>
  {% set section = get_section(path="blog/_index.md") %}
  {% for month, posts in section.pages
    | sort(attribute="date")
    | reverse
    | group_by(attribute="month") %}
  {% endfor %}
{% endblock content %}

# {% extends "base.html" %}
# {% block content %}
# <header>
#    <h2>Tags</h2>
# </header>
# {% set blogtags = get_taxonomy(kind="tags") %}
# {% for tag in blogtags.items %}
#    <h3 id="{{ tag.name | slugify }}">{{ tag.name }}</h3>
#    <ul>
#        {% for post in tag.pages %}
#            <li>
#                <time datetime="{{ post.date }}">{{ post.date }}</time> –
#                <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
#            </li>
#        {% endfor %}
#    </ul>
# {% endfor %}
# {% endblock content %}  
